.ansible

# Variables directory rules
variables/access/*
variables/s3/*
!variables/access/*.dist
!variables/access/*.md
!variables/s3/*.conf.dist

megalinter-reports/*

### dde ###
.dde/*

output/**

# Exceptions for .keep files in certain output directories
!artifacts/*.keep
artifacts/*

### Ansible Collections ###
collections/ansible_collections/*
!collections/ansible_collections/smartlearn/

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

test-results
