---
name: Publish Container Images

"on":
    push:
        branches:
            - main
        paths:
            - "Dockerfile"
            - "requirements.txt"
            - ".github/workflows/container-publish.yml"

permissions:
    contents: read
    packages: write

jobs:
    publish:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

            - name: Extract version from requirements.txt
              id: get_version
              run: |
                  version="$(grep '^ansible-core==' requirements.txt | cut -d'=' -f3)"
                  echo "version=${version}" >> "$GITHUB_OUTPUT"
                  echo "Ansible Version: ${version}"

            - name: Set up QEMU
              uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3

            - name: Docker meta
              id: meta
              uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5
              with:
                  images: |
                      ghcr.io/arillso/ansible
                      arillso/ansible
                  tags: |
                      type=raw,value=latest,enable=${{ github.ref == format('refs/heads/{0}', 'main') }}
                      type=raw,value=rolling,enable=${{ github.ref == format('refs/heads/{0}', 'main') }}
                      type=raw,value=${{ steps.get_version.outputs.version }},enable=true
                      type=sha,format=short,enable=${{ github.ref == format('refs/heads/{0}', 'main') }}

            - name: Login to DockerHub
              uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
              with:
                  username: sbaerlocher
                  password: ${{ secrets.DOCKER_TOKEN }}

            - name: Login to GitHub Container Registry
              uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
              with:
                  registry: ghcr.io
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}

            - name: Build and push
              uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
              with:
                  context: .
                  build-args: |
                      ANSIBLE_VERSION=${{ steps.get_version.outputs.version }}
                      VCS_REF=${{ github.sha }}
                      BUILD_DATE=$(date -I)
                  push: true
                  platforms: linux/amd64,linux/arm64
                  tags: |
                      ${{ steps.meta.outputs.tags }}
                  labels: ${{ steps.meta.outputs.labels }}
                  cache-from: type=gha
                  cache-to: type=gha,mode=max
